<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CampusMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FEF3CBF1BE5E86B005D8168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FEF3CD81BE5E86B005D8168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FEF3CE31BE5E86B005D8168</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
